<footer class="site-footer" role="contentinfo">
  <div class="wrap">
    <p>Maintained by <a href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a></p>
    <ul class="footer-links">
      <li><a href="https://github.com/{{ site.github_username }}">GitHub</a></li>
      {% if site.twitter_username %}
      <li><a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a></li>
      {% endif %}
      <li><a href="mailto:{{ site.email }}">Email</a></li>
    </ul>
  </div>
</footer>
